.Header{
    display: flex;
    align-content: center;
    height: 70px;
    width: 100%;
    border-bottom: 70px solid rgb(136, 78, 131);
}

.Header img{
    margin: 8px 25px;
    height: 55px;
    width: 55px;
    border-radius: 50px;

}